workflow/ChatBot - Banco de Dados.json
{
  "name": "ChatBot - Banco de Dados",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c786de1-f620-4c86-9bfe-5714aaede69f",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        0
      ],
      "id": "bf5b4a11-4bff-40c7-b013-194fe63beaaf",
      "name": "Set_file_id"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set_file_id').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "95a8f4db-e953-4d40-9681-bd486e6f72e9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HydIjO1YfZdxmDAI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        592,
        0
      ],
      "id": "5c9bc38c-33cd-40cc-8c91-c170931e4cb4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        880,
        -48
      ],
      "id": "a361f3b4-11bb-4570-86a7-0ba0bf388a40",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "kaYtPOa7rurTooa1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        128
      ],
      "id": "e332defc-447d-4389-9214-e4e1fd4d5c52",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rrxoJwjIMaQFslfh",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set_file_id').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1072,
        128
      ],
      "id": "c3340bff-229e-4687-8c13-d4218f5468be",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.{{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        0
      ],
      "id": "7adbd986-b8b1-4760-8394-8eb20cea7980",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kaYtPOa7rurTooa1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        96,
        -656
      ],
      "id": "bb85871a-cbe4-4383-be23-0e17bc1e2701",
      "name": "When chat message received",
      "webhookId": "34004f8c-f3f6-477a-a99c-ccf379529ff9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Você é uma assistente para descrever informações sobre a disciplina banco de dados. Com base nas informações que você possui."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        304,
        -656
      ],
      "id": "2090d9aa-fbfc-4061-a290-3acda62e1c19",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        -400
      ],
      "id": "6565e649-ffaf-4000-abd5-dccb4553fc8f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R9IM8BK3LdCglf4y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        368,
        -400
      ],
      "id": "9701213b-6eb9-413d-b047-65c2ff975c42",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "HM991WfMGXc5I27P",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contém todos os documentos para você chegar com base na pesquisa do usuário.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        592,
        -400
      ],
      "id": "4a356e7e-e4dc-4d1a-9da4-ad0e3c4fdc61",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "kaYtPOa7rurTooa1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        -240
      ],
      "id": "291da61e-1916-4304-859f-6b0dc7dda99b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "R9IM8BK3LdCglf4y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Qj-UYze0FslNWXGqPQNlHvR3uY8AD6zu",
          "mode": "list",
          "cachedResultName": "Chatbot_banco_de_dados",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Qj-UYze0FslNWXGqPQNlHvR3uY8AD6zu"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        -96
      ],
      "id": "6ea50abb-eb27-4c79-9632-b2ac617169e0",
      "name": "Arquivos criados",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HydIjO1YfZdxmDAI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Qj-UYze0FslNWXGqPQNlHvR3uY8AD6zu",
          "mode": "list",
          "cachedResultName": "Chatbot_banco_de_dados",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Qj-UYze0FslNWXGqPQNlHvR3uY8AD6zu"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        128
      ],
      "id": "1341c10c-0496-413f-972a-cdbb7cff6737",
      "name": "Atualização de arquivos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HydIjO1YfZdxmDAI",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Set_file_id": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Arquivos criados": {
      "main": [
        [
          {
            "node": "Set_file_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualização de arquivos": {
      "main": [
        [
          {
            "node": "Set_file_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "443a6009-a31c-4471-bd31-f4fc0ee9b46f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cbcacd09d5bba9fdd56252a91e301dd070a2b0ccbd45ef4cb9df04274e559d66"
  },
  "id": "DwlrD1PpkHMVyjVL",
  "tags": []
}